[submodule "honeycomb_midi"]
	path = honeycomb_midi
	url = git@github.com:aburnsni/honeycomb_midi.git
[submodule "pringle_drums"]
	path = pringle_drums
	url = git@github.com:aburnsni/pringle_drums.git
[submodule "tippeny_guitar"]
	path = tippeny_guitar
	url = git@github.com:aburnsni/tippeny_guitar.git
[submodule "music_vu_meter"]
	path = music_vu_meter
	url = git@github.com:aburnsni/music_vu_meter.git
[submodule "button_box"]
	path = button_box
	url = git@github.com:aburnsni/button_box.git
[submodule "powerpoint_controller"]
	path = powerpoint_controller
	url = git@github.com:aburnsni/powerpoint_controller.git
[submodule "crossfade_christmas_lights"]
	path = crossfade_christmas_lights
	url = git@github.com:aburnsni/crossfade_christmas_lights.git
[submodule "hv_serial_prog"]
	path = hv_serial_prog
	url = url = git@github.com:aburnsni/hv_serial_prog.git
[submodule "arduino_dice"]
	path = arduino_dice
	url = git@github.com:aburnsni/arduino_dice.git
[submodule "esp8266_support_counter"]
	path = esp8266_support_counter
	url = url = git@github.com:aburnsni/esp8266_support_counter.git
[submodule "bead_bowl_midi"]
	path = bead_bowl_midi
	url = git@github.com:aburnsni/bead_bowl_midi.git
[submodule "piezo_instrument"]
	path = piezo_instrument
	url = git@github.com:aburnsni/piezo_instrument.git
[submodule "capacitance_touch_drums"]
	path = capacitance_touch_drums
	url = git@github.com:aburnsni/capacitance_touch_drums.git
[submodule "scrolling_led_matrix"]
	path = scrolling_led_matrix
	url = git@github.com:aburnsni/scrolling_led_matrix.git
[submodule "esp8266_server"]
	path = esp8266_server
	url = url = git@github.com:aburnsni/esp8266_server.git
[submodule "proximity_trigger"]
	path = proximity_trigger
	url = git@github.com:aburnsni/proximity_trigger.git
[submodule "joystick_theramin"]
	path = joystick_theramin
	url = git@github.com:aburnsni/joystick_theramin.git
[submodule "d1_mqtt_dht22"]
	path = d1_mqtt_dht22
	url = url = git@github.com:aburnsni/d1_mqtt_dht22.git
[submodule "touch_minecraft_keyboard"]
	path = touch_minecraft_keyboard
	url = git@github.com:aburnsni/touch_minecraft_keyboard.git
[submodule "arcade_button_midi"]
	path = arcade_button_midi
	url = git@github.com:aburnsni/arcade_button_midi.git
[submodule "larson_scanner"]
	path = larson_scanner
	url = git@github.com:aburnsni/larson_scanner.git
[submodule "ttp223_touch_arch"]
	path = ttp223_touch_arch
	url = git@github.com:aburnsni/ttp223_touch_arch.git
[submodule "esp8266_max7219_scroller"]
	path = esp8266_max7219_scroller
	url = url = git@github.com:aburnsni/esp8266_max7219_scroller.git
[submodule "sfx_switch_debounce"]
	path = sfx_switch_debounce
	url = git@github.com:aburnsni/sfx_switch_debounce.git
	branch = master
[submodule "programmable_midi_switch_box"]
	path = programmable_midi_switch_box
	url = git@github.com:aburnsni/programmable_midi_switch_box.git
