[submodule "honeycomb_midi"]
	path = honeycomb_midi
	url = git@gitlab.com:ab-arduino/honeycomb_midi.git
[submodule "pringle_drums"]
	path = pringle_drums
	url = git@gitlab.com:ab-arduino/pringle_drums.git
[submodule "tippeny_guitar"]
	path = tippeny_guitar
	url = git@gitlab.com:ab-arduino/tippeny_guitar.git
[submodule "music_vu_meter"]
	path = music_vu_meter
	url = git@gitlab.com:ab-arduino/music_vu_meter.git
[submodule "button_box"]
	path = button_box
	url = git@gitlab.com:ab-arduino/button_box.git
